# This is our base swagger file and the primary mixin target.
# Everything in definitions|paths/*.yml will be mixed through
# and finally flattened into the actual swagger.yml in this dir.
consumes:
  - application/json
produces:
  - application/json
swagger: "2.0"
info:
  title: github.com/SafeMPC/mpc-service
  version: 0.1.0
  description: API documentation
paths: {}
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
    description: |-
      Access token for application access, **must** include "Bearer " prefix.
      Example: `Bearer b4a94a42-3ea2-4af3-9699-8bcbfee6e6d2`
    x-keyPrefix: "Bearer "
  Management:
    type: apiKey
    in: query
    description: Management secret, used for monitoring and infrastructure related calls
    name: mgmt-secret
definitions:
  # Any definitions that are not yet used within paths/*.yml are automatically removed from the resulting swagger.yml.
  # You may reference some definitions that you *always* want to be included here.
  # --
  # Always include orderDir so we can test binding it to db queries directly.
  orderDir:
    type: string
    enum:
      - asc
      - desc
  # MPC definitions (Migrated to Infra)
  postCreateKeyPayload:
    $ref: "../definitions/infra.yml#/definitions/PostCreateKeyPayload"
  createKeyResponse:
    $ref: "../definitions/infra.yml#/definitions/CreateKeyResponse"
  postDeriveKeyPayload:
    $ref: "../definitions/infra.yml#/definitions/PostDeriveKeyPayload"
  deriveKeyResponse:
    $ref: "../definitions/infra.yml#/definitions/DeriveKeyResponse"
  getKeyResponse:
    $ref: "../definitions/infra.yml#/definitions/GetKeyResponse"
  listKeysResponse:
    $ref: "../definitions/infra.yml#/definitions/ListKeysResponse"
  postSignPayload:
    $ref: "../definitions/infra.yml#/definitions/PostSignPayload"
  signResponse:
    $ref: "../definitions/infra.yml#/definitions/SignResponse"
  postRegisterNodePayload:
    $ref: "../definitions/infra.yml#/definitions/PostRegisterNodePayload"
  registerNodeResponse:
    $ref: "../definitions/infra.yml#/definitions/RegisterNodeResponse"
  getNodeResponse:
    $ref: "../definitions/infra.yml#/definitions/GetNodeResponse"
  listNodesResponse:
    $ref: "../definitions/infra.yml#/definitions/ListNodesResponse"
  postCreateSessionPayload:
    $ref: "../definitions/infra.yml#/definitions/PostCreateSessionPayload"
  createSessionResponse:
    $ref: "../definitions/infra.yml#/definitions/CreateSessionResponse"
  getSessionResponse:
    $ref: "../definitions/infra.yml#/definitions/GetSessionResponse"
  generateAddressResponse:
    $ref: "../definitions/infra.yml#/definitions/GenerateAddressResponse"
  postBatchSignPayload:
    $ref: "../definitions/infra.yml#/definitions/PostBatchSignPayload"
  batchSignResponse:
    $ref: "../definitions/infra.yml#/definitions/BatchSignResponse"
  postVerifyPayload:
    $ref: "../definitions/infra.yml#/definitions/PostVerifyPayload"
  verifyResponse:
    $ref: "../definitions/infra.yml#/definitions/VerifyResponse"
  # Infra definitions
  nodeRegistration:
    $ref: "../definitions/infra.yml#/definitions/NodeRegistration"
  nodeRegistrationResponse:
    $ref: "../definitions/infra.yml#/definitions/NodeRegistrationResponse"
  heartbeatRequest:
    $ref: "../definitions/infra.yml#/definitions/HeartbeatRequest"
  heartbeatResponse:
    $ref: "../definitions/infra.yml#/definitions/HeartbeatResponse"
  # Backup definitions
  recoverMPCShareRequest:
    $ref: "../definitions/infra.yml#/definitions/RecoverMPCShareRequest"
  recoverMPCShareResponse:
    $ref: "../definitions/infra.yml#/definitions/RecoverMPCShareResponse"
  getBackupStatusResponse:
    $ref: "../definitions/infra.yml#/definitions/GetBackupStatusResponse"
  listBackupSharesResponse:
    $ref: "../definitions/infra.yml#/definitions/ListBackupSharesResponse"
  backupStatus:
    $ref: "../definitions/infra.yml#/definitions/BackupStatus"
  backupShares:
    $ref: "../definitions/infra.yml#/definitions/BackupShares"
  backupShare:
    $ref: "../definitions/infra.yml#/definitions/BackupShare"
  postAddPasskeyPayload:
    $ref: "../definitions/infra.yml#/definitions/PostAddPasskeyPayload"
  addPasskeyResponse:
    $ref: "../definitions/infra.yml#/definitions/AddPasskeyResponse"
  # Wallet Member definitions
  addWalletMemberPayload:
    $ref: "../definitions/infra.yml#/definitions/AddWalletMemberPayload"
  removeWalletMemberPayload:
    $ref: "../definitions/infra.yml#/definitions/RemoveWalletMemberPayload"
  walletMemberResponse:
    $ref: "../definitions/infra.yml#/definitions/WalletMemberResponse"
  # Signing Policy definitions
  setSigningPolicyPayload:
    $ref: "../definitions/infra.yml#/definitions/SetSigningPolicyPayload"
  signingPolicyResponse:
    $ref: "../definitions/infra.yml#/definitions/SigningPolicyResponse"
  # WebAuthn definitions
  postWebAuthnRegisterBeginPayload:
    $ref: "../definitions/webauthn.yml#/definitions/PostWebAuthnRegisterBeginPayload"
  webAuthnRegisterBeginResponse:
    $ref: "../definitions/webauthn.yml#/definitions/WebAuthnRegisterBeginResponse"
  postWebAuthnRegisterFinishPayload:
    $ref: "../definitions/webauthn.yml#/definitions/PostWebAuthnRegisterFinishPayload"
  postWebAuthnLoginBeginPayload:
    $ref: "../definitions/webauthn.yml#/definitions/PostWebAuthnLoginBeginPayload"
  webAuthnLoginBeginResponse:
    $ref: "../definitions/webauthn.yml#/definitions/WebAuthnLoginBeginResponse"
  postWebAuthnLoginFinishPayload:
    $ref: "../definitions/webauthn.yml#/definitions/PostWebAuthnLoginFinishPayload"
  webAuthnLoginResponse:
    $ref: "../definitions/webauthn.yml#/definitions/WebAuthnLoginResponse"
  # Wallet definitions
  webAuthnAssertion:
    $ref: "../definitions/wallets.yml#/definitions/WebAuthnAssertion"
  postCreateWalletPayload:
    $ref: "../definitions/wallets.yml#/definitions/PostCreateWalletPayload"
  createWalletResponse:
    $ref: "../definitions/wallets.yml#/definitions/CreateWalletResponse"
  listWalletsResponse:
    $ref: "../definitions/wallets.yml#/definitions/ListWalletsResponse"
  walletSummary:
    $ref: "../definitions/wallets.yml#/definitions/WalletSummary"
  walletResponse:
    $ref: "../definitions/wallets.yml#/definitions/WalletResponse"
  generateAddressResponse:
    $ref: "../definitions/wallets.yml#/definitions/GenerateAddressResponse"
  walletBalanceResponse:
    $ref: "../definitions/wallets.yml#/definitions/WalletBalanceResponse"
  transactionsResponse:
    $ref: "../definitions/wallets.yml#/definitions/TransactionsResponse"
  transaction:
    $ref: "../definitions/wallets.yml#/definitions/Transaction"
  postSignTransactionPayload:
    $ref: "../definitions/wallets.yml#/definitions/PostSignTransactionPayload"
  signTransactionResponse:
    $ref: "../definitions/wallets.yml#/definitions/SignTransactionResponse"
  # Session definitions
  sessionResponse:
    $ref: "../definitions/sessions.yml#/definitions/SessionResponse"

responses:
  errorResponse:
    description: Standard error response
    schema:
      $ref: "../definitions/errors.yml#/definitions/PublicHTTPError"
